@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.svg__image{
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.product__image{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.checkout__product__image{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.progress__Line{

  position: relative;
}

.progress__Line::after{
  z-index: 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgb(209 213 219);
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;

}