@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.svg__image{
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.product__image{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.checkout__product__image{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px;
}